## Contact Learning

KTH데이터를 기준으로 돌리기

In [1]:
import pandas as pd
import preprocessing as p
import os
import re

In [ ]:
df=p.to_testdf(pd.read_csv("sample/2014_01_01.csv"))

In [ ]:
df_1 = pd.DataFrame({'sec':[],'ID':[],'x_coordinate(m)':[],'y_coordinate(m)':[]},dtype='int64')

In [ ]:
chk_csv = re.compile(".*[.]csv")
for file in os.listdir("trace_by_date/"):
    if(chk_csv.match(file)):
        df = pd.read_csv("trace_by_date/"+file, index_col=0)
        df.reset_index(drop=True, inplace=True)
        df = p.to_testdf(df)
        df_1 = pd.concat([df_1, df.loc[df.ID == 0]])

In [ ]:
df_1.reset_index(drop=True, inplace=True)

In [ ]:
df_1.to_csv("trace_by_ID/1.csv")

In [5]:
p.to_file_by_ID(10)

In [2]:
p.get_log_ID(1)

        sec  ID  x_coordinate(m)  y_coordinate(m)
0       975   1            14703            39123
1      2798   1            14703            39123
2      4599   1            14703            39123
3      6378   1            14703            39123
4      8205   1            14703            39123
...     ...  ..              ...              ...
1497  77952   1            14703            39123
1498  79726   1            14703            39123
1499  81521   1            14703            39123
1500  83342   1            14703            39123
1501  85132   1            14703            39123

[1502 rows x 4 columns]