## Contact Learning

KTH데이터를 기준으로 돌리기

In [1]:
import pandas as pd
import preprocessing as p

In [2]:
df=p.to_testdf(pd.read_csv("sample/2014_01_01.csv"))

In [3]:
df

         sec   ID  x_coordinate(m)  y_coordinate(m)
0         24    0            21663            33167
1       1810    0            21663            33167
2       3620    0            21663            33167
3       5398    0            21663            33167
4       7223    0            21663            33167
...      ...  ...              ...              ...
12724  81856  497            14703            39123
12725  81891  158            21510            33050
12726  83485  507            21808            32346
12727  84642  507            21808            32346
12728  86316  423            14703            39123

[12729 rows x 4 columns]