In [83]:
import pandas as pd
import queue
import pickle
import preprocessing as pr

In [86]:
df = pd.read_csv("trace_by_date/2014_01_01.csv")

In [88]:
pr.to_sec(df)
pr.to_ID(df)

In [89]:
df

,Unnamed: 0,timestamp,client,AP,sec,ID
0,0,2014-01-01 00:00:24,b7f22f3abd9f367af65bd70b4b328e0c35f7cfac,Bldg11AP21,24,0
1,1,2014-01-01 00:00:30,336501aeaedff0462f3cd55089fa433dbbfff493,Bldg44AP3,30,1
2,2,2014-01-01 00:00:35,4b912f490ddc1f289f35def68a1662bcc5089a1a,Bldg48AP65,35,2
3,3,2014-01-01 00:00:40,8e10f9d5aa9c229baae2f745abd25b9c9522ed64,Bldg25AP19,40,3
4,4,2014-01-01 00:00:51,680fc4c2bd6b252fd6e1a67ad7aa69cdbd3d6e0f,Bldg25AP5,51,4
...,...,...,...,...,...,...
12724,12724,2014-01-01 23:58:36,34a2fe9462c797cfc9916b7aa84bbe4a7b42327a,Bldg44AP15,86316,423
12725,12725,2014-01-01 23:59:03,ec438383187d2fb4a00d4d7cd235494729d05198,Bldg44AP4,86343,42
12726,12726,2014-01-01 23:59:14,2a9553acf404141b23ce2361d2d58e0ae7b72bb4,Bldg44AP64,86354,33
12727,12727,2014-01-01 23:59:35,ca2a3933771ce90b5368dfdb95d1959f66fe0150,Bldg14AP12,86375,85
12728,12728,2014-01-01 23:59:53,34a2fe9462c797cfc9916b7aa84bbe4a7b42327a,Bldg48AP41,86393,423

### get logs & store

In [38]:
#size of data storage
N = 150

storage = queue.Queue(maxsize=N)

In [45]:
for row in df.itertuples():
    if(storage.qsize() == N):
        storage.get()
    storage.put(getattr(row,"sec"))

In [72]:
df["AP_ID"] = df.index
df=df.set_index("AP").drop(columns=["floor","x_coordinate(m)","y_coordinate(m)"])